<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2024-2025 Shadow Robot Company Ltd - All Rights Reserved. Proprietary and Confidential.
 Unauthorized copying of the content in this file, via any medium is strictly prohibited.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="ur_dex">

  <link name="world"/>
  <xacro:arg name="initial_y" default="0.0"/>
  <xacro:arg name="initial_z" default="0.0"/>
  <xacro:arg name="initial_yaw" default="0.0"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <xacro:arg name="arm_model" default="ur10e"/>
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/$(arg arm_model)/default_kinematics.yaml"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/$(arg arm_model)_macro.xacro"/>

  <xacro:arg name="hand_type" default="0x02000105"/>
  <xacro:arg name="side" default="right"/>

  <xacro:if value="${'$(arg side)' == 'right'}">
      <xacro:arg name="arm_prefix" default="ra" />
      <xacro:arg name="hand_prefix" default="rh" />
  </xacro:if>
  <xacro:if value="${'$(arg side)' == 'left'}">
      <xacro:arg name="arm_prefix" default="la" />
      <xacro:arg name="hand_prefix" default="lh" />
  </xacro:if>

  <xacro:if value="${'$(arg arm_model)' == 'ur10e'}">
      <xacro:ur10e_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>
  <xacro:if value="${'$(arg arm_model)' == 'ur10'}">
      <xacro:ur10_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>
  <xacro:if value="${'$(arg arm_model)' == 'ur5e'}">
      <xacro:ur5e_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>
  <xacro:if value="${'$(arg arm_model)' == 'ur5'}">
      <xacro:ur5_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>

  <xacro:include filename="$(find dx_robot)/description/robot/$(arg hand_type).xacro" />

  <xacro:e3_r3_hand prefix="$(arg hand_prefix)_" />
<!-- TODO Do something for the mounting plate (as it is shown below for hand E)
  <xacro:sr_hand side="$(arg side)" hand_type="$(arg hand_type)" hand_version="$(arg hand_version)"
                  fingers="$(arg fingers)" tip_sensors="$(arg tip_sensors)" mid_sensors="$(arg mid_sensors)"
                  prox_sensors="$(arg prox_sensors)" palm_sensor="$(arg palm_sensor)" mounting_plate="true"/> -->

  <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="$(arg arm_prefix)_base_link"/>
      <origin xyz="0.0 $(arg initial_y) $(arg initial_z)" rpy="0.0 0.0 $(arg initial_yaw)"/>
  </joint> 

  <joint name="$(arg arm_prefix)_arm_to_hand" type="fixed">
      <parent link="$(arg arm_prefix)_flange"/>
      <child link="$(arg hand_prefix)_hand_base"/>
      <!-- 0.043m x-offset and 3pi/4 rad pitch are due to height and angle of attachement plate -->
      <origin xyz="0.043 0.0 0.0" rpy="${pi/2.0} ${3.0*pi/4.0} ${pi/2.0}"/>
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
      <robotNamespace>$(arg side)_arm</robotNamespace>
      <robotParam>$(arg arm_prefix)_robot_description</robotParam>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
      <robotNamespace>$(arg side)_hand</robotNamespace>
      <robotParam>$(arg hand_prefix)_robot_description</robotParam>
    </plugin>
  </gazebo>
</robot>
