<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2024-2025 Shadow Robot Company Ltd - All Rights Reserved. Proprietary and Confidential.
 Unauthorized copying of the content in this file, via any medium is strictly prohibited.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="ur_dex">

  <link name="world"/>
  <xacro:arg name="initial_y" default="0.0"/>
  <xacro:arg name="initial_z" default="0.0"/>
  <xacro:arg name="initial_yaw" default="0.0"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <xacro:arg name="arm_model" default="ur10e"/>
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/$(arg arm_model)/default_kinematics.yaml"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/$(arg arm_model)_macro.xacro"/>

  <xacro:arg name="hand_type" default="0x02000105"/>
  <xacro:arg name="robot_system_id" default="0"/>

  <xacro:arg name="arm_prefix" default="a$(arg robot_system_id)" />
  <xacro:arg name="hand_prefix" default="h$(arg robot_system_id)" />

  <!-- Name of the mounting plate xacro file: E.g. G-SHW063_Tool_change_plate -->
  <xacro:arg name="mounting_plate_name" default="G-SHW063_Tool_change_plate" />

  <xacro:if value="${'$(arg arm_model)' == 'ur10e'}">
      <xacro:ur10e_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>
  <xacro:if value="${'$(arg arm_model)' == 'ur10'}">
      <xacro:ur10_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>
  <xacro:if value="${'$(arg arm_model)' == 'ur5e'}">
      <xacro:ur5e_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>
  <xacro:if value="${'$(arg arm_model)' == 'ur5'}">
      <xacro:ur5_robot prefix="$(arg arm_prefix)_" transmission_hw_interface="$(arg transmission_hw_interface)" kinematics_parameters_file="$(arg kinematics_config)"/>
  </xacro:if>

  <xacro:include filename="$(find dx_robot)/description/robot/$(arg hand_type).xacro" />

  <xacro:e3_r3_hand prefix="$(arg hand_prefix)_" />

  <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="$(arg arm_prefix)_base_link"/>
      <origin xyz="0.0 $(arg initial_y) $(arg initial_z)" rpy="0.0 0.0 $(arg initial_yaw)"/>
  </joint> 

  <xacro:include filename="$(find dx_robot)/description/xacros/mounting_plates/$(arg mounting_plate_name).xacro" />
  <xacro:macro_e3r3_mounting_plate prefix="$(arg hand_prefix)_" parent="$(arg arm_prefix)_flange" mounted_tool="$(arg hand_prefix)_hand_base" >
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2.0} ${3.0*pi/4.0} ${pi/2.0}"/>
  </xacro:macro_e3r3_mounting_plate>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
      <robotNamespace>arm_$(arg robot_system_id)</robotNamespace>
      <robotParam>$(arg arm_prefix)_robot_description</robotParam>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
      <robotNamespace>hand_$(arg robot_system_id)</robotNamespace>
      <robotParam>$(arg hand_prefix)_robot_description</robotParam>
    </plugin>
  </gazebo>
</robot>
