<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2024-2025 Shadow Robot Company Ltd - All Rights Reserved. Proprietary and Confidential.
 Unauthorized copying of the content in this file, via any medium is strictly prohibited.
-->
<launch>
<arg name="hand_type"/>
<arg name="output" default="screen"/>
<arg name="robot_system_id"/>

<rosparam command="load" file="$(find dx_config)/controllers/config/$(arg hand_type)/robot_system_$(arg robot_system_id)/actuator_effort_controller.yaml"/>
<node name="spawn_actuator_effort_controller"
      pkg="controller_manager" type="spawner" respawn="false"
      output="$(arg output)"
      args="actuator_effort_controller"/>
</launch>
