<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2024 Shadow Robot Company Ltd - All Rights Reserved. Proprietary and Confidential.
 Unauthorized copying of the content in this file, via any medium is strictly prohibited.
-->
<launch>

  <arg name="debug" default="false"/>
  <arg name="hand_type" default="0x02000105"/>
  <arg name="ethercat_port" default="$(optenv ETHERCAT_PORT enp1s0)"/>
  <arg name="urdf_file" default="$(find dx_robot)/description/robot/right_hand_and_UR10e.urdf.xacro"/>
  <arg name="robot_config" default="$(find dx_robot)/config/$(arg hand_type).yaml" />
  <arg name="log_user" default="user"/>
  <arg name="controller_output" default="log"/>
  <arg name="controller_start_delay" default="5"/>
  <arg name="state_controller_start_delay" default="2"/>
  <arg name="snapshot_group" default="/snapshot_groups/robot_finger_states_group"/>

  <arg name="start_control" default="true"/>
  <arg name="control_mode" default="trajectory"/>
  <!-- allowed values are trajectory, actuator_pwm, actuator_effort, joint_effort, position -->
  <arg name="moveit" default="true"/>

  <arg name="gui" default="true"/>
  <arg name="sim" default="false"/>

  <!-- Distal cameras and video stream arguments -->
  <arg name="distals" default="[F0, F1, F2]"/>
  <arg name="start_distal_cameras" default="false"/>
  <arg name="view_distal_cameras" default="false"/>

  <arg name="side" default="right"/>
  <arg name="arm_model" default="ur10e"/>

  <arg if="$(eval arg('moveit') and arg('start_control'))" name="rviz_config_file" default="$(find dx_moveit_config)/launch/moveit.rviz"/>
  <arg unless="$(eval arg('moveit') and arg('start_control'))" name="rviz_config_file" default="$(find dx_robot)/config/dx_robot.rviz"/>

  <!-- Loading robot description-->
  <include file="$(find dx_launch)/launch/load_robot_description.launch.xml">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="side" value="$(arg side)"/>
    <arg name="arm" value="$(arg arm)"/>
    <arg name="hand" value="$(arg hand)"/>
    <arg name="arm_model" value="$(arg arm_model)"/>
    <arg name="hand_type" value="$(arg hand_type)"/>
    <arg name="hand_version" value="$(arg hand_version)"/>
    <arg name="fingers" value="$(arg fingers)"/>
    <arg name="tip_sensors" value="$(arg tip_sensors)"/>
    <arg name="mid_sensors" value="$(arg mid_sensors)"/>
    <arg name="prox_sensors" value="$(arg prox_sensors)"/>
    <arg name="palm_sensor" value="$(arg palm_sensor)"/>
    <arg name="initial_z" value="$(arg initial_z)"/>
    <arg name="initial_y" value="$(arg initial_y)"/>
    <arg name="initial_yaw" value="$(arg initial_yaw)"/>
  </include>


  <!-- Simulated robot launch-->
  <group if="$(arg sim)">
    <include file="$(find dx_robot)/launch/sim.launch.xml">
      <arg name="urdf_path" default="$(arg urdf_file)"/>
      <arg name="world" default="$(find dx_moveit_config)/config/demo.world"/>
      <arg name="moveit" default="$(arg moveit)"/>
      <arg name="gui" default="$(arg gui)"/>
    </include>
  </group>

  <!-- Real robot launch-->
  <group unless="$(arg sim)">

    <rosparam command="load" file="$(find dx_controllers)/config/$(arg hand_type)/position_controller.yaml"/>
    <rosparam command="load" file="$(find dx_controllers)/config/$(arg hand_type)/joint_effort_controller.yaml"/>
    <rosparam command="load" file="$(find dx_controllers)/config/$(arg hand_type)/actuator_effort_controller.yaml"/>

    <rosparam command="load" file="$(find dx_controllers)/config/$(arg hand_type)/actuator_pwm_controller.yaml"/>
    <rosparam command="load" file="$(find dx_controllers)/config/$(arg hand_type)/trajectory_controller.yaml"/>

    <include if="$(arg start_distal_cameras)" file="$(find usb_cam)/launch/all.launch">
      <arg name="viewer" value="$(arg view_distal_cameras)"/>
      <arg name="zero" value="$(eval 'F0' in arg('distals'))"/>
      <arg name="one" value="$(eval 'F1' in arg('distals'))"/>
      <arg name="two" value="$(eval 'F2' in arg('distals'))"/>
    </include>

    <include file="$(find dx_robot)/launch/real.launch.xml">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="hand_type" value="$(arg hand_type)"/>
      <arg name="ethercat_port" value="$(arg ethercat_port)"/>
      <arg name="urdf_file" value="$(arg urdf_file)"/>
      <arg name="robot_config" value="$(arg robot_config)"/>
      <arg name="log_user" value="$(arg log_user)"/>
      <arg name="controller_output" value="$(arg controller_output)"/>
      <arg name="controller_start_delay" value="$(arg controller_start_delay)"/>
      <arg name="state_controller_start_delay" value="$(arg state_controller_start_delay)"/>
      <arg name="snapshot_group" value="$(arg snapshot_group)"/>
      <arg name="start_control" value="$(arg start_control)"/>
      <arg name="control_mode" value="$(arg control_mode)"/>
    </include>

    <!-- Start move_group only if robot controll is started-->
    <include if="$(eval arg('moveit') and arg('start_control'))" file="$(find dx_moveit_config)/launch/move_group.launch"/>

    <!-- RViz -->
    <node if="$(arg gui)" name="$(anon rviz)" pkg="rviz" type="rviz" respawn="true"
      args="-d $(arg rviz_config_file)" output="screen">
      <rosparam command="load" file="$(find dx_moveit_config)/config/kinematics.yaml"/>
    </node>
  </group>

</launch>
